body {
	background: #000;
	margin: 0;
	color: #FFF!important;
	padding: 100px 0;
}

main {
	max-width: 1000px;
	margin: 0 auto;
}
a {
	color: #FFF!important;
	&:hover {
		text-decoration: none;
	}
}
li {
	list-style-type: none;
	font-size: 18px;
}
li + li {
	margin-top: 15px;
}
li b {
	color: #42b883;
}
h1 {
	font-size: 28px;
	margin-bottom: 50px;
  color: #FFF;
	background: #42b883;
	line-height: 0.9;
}
h2 {
	font-size: 22px;
	padding-bottom: 10px;
	border-bottom: solid 1px #42b883;
	margin-top: 80px;
	margin-bottom: 30px;
}
pre {
	margin-top: 15px;
	padding: 10px;
	background: rgba(255,255,255,0.1);
}
code {
	font-size: 12px;
}
img {
	max-width: 100%;
}
figure {
	margin-bottom: 20px;
}
.demo {
	padding: 20px;
	border: solid 1px #42b883;
}
.home {
	margin-top: 60px;
	display: block;
	text-align: center;
}